{% comment %}
  Generic Hero Snippet
  Usage: {% render 'generic-hero', image: image_object, title: 'Title', description: 'Description' %}

  Displays a hero section with custom image, title, and description
  Parameters:
  - image: Image object (optional)
  - title: String title (required)
  - description: String description (optional)
{% endcomment %}

<div class="relative w-full h-[60dvh] overflow-hidden">
  {% if image %}
    {{
      image
      | image_url: width: 2000
      | image_tag: class: 'w-full h-full object-cover object-center', alt: title, loading: 'eager'
    }}
  {% else %}
    <div class="w-full h-full bg-gray-200"></div>
  {% endif %}

  <!-- Gradient overlay for better text readability -->
  <div class="absolute inset-0 bg-gradient-to-t from-black/40 via-transparent to-black/30 "></div>

  <!-- Content overlay -->
  <div class="absolute bottom-8 left-4 lg:left-12 space-y-3  text-white z-10">
    <h1 class="capitalize">{{ title }}</h1>
    {% if description != blank %}
      <p class="body-lg truncate line-clamp-2">{{ description }}</p>
    {% endif %}
  </div>
</div>

